.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__field,
    .select-container__button {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: 0.025rem solid #ccc;
        width: 100%;
        color: grey;
    }

    .select-container {
        position: relative;
        width: 100%;

        &__button {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-color: white;
            cursor: pointer;

            .color-circle {
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                margin-right: 0.5rem;
            }
            .arrow-up {
                margin-left: auto;
                border: solid grey;
                border-width: 0 0.125rem 0.125rem 0;
                display: inline-block;
                padding: 0.25rem;
                transform: rotate(-135deg);
                transition: transform 0.3s ease;
            }
            .arrow-down {
                margin-left: auto;
                border: solid grey;
                border-width: 0 0.125rem 0.125rem 0;
                display: inline-block;
                padding: 0.25rem;
                transform: rotate(45deg);
                transition: transform 0.3s ease;
            }
        }

        &__options {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            z-index: 1;
            background-color: #fff;
            border: 0.025rem solid #ccc;
            border-radius: 0.5rem;
            margin-top: 0.5rem;
            padding: 0.5rem;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            width: 100%;

            .option-tile {
                width: 3rem;
                height: 3rem;
                margin: 0.5rem;
                border-radius: 0.5rem;
                cursor: pointer;
            }
        }
    }
}
