.photo-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.photo-thumbnails img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.photo-thumbnails img:hover {
    border: 2px solid blue;
}

.photo-thumbnails img.selected {
    border: 3px solid blue;
}
