.app-container {
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    box-sizing: border-box;
    color: rgb(157, 97, 203);
}

header {
    width: 100%;
    text-align: center;
    margin-bottom: 1.25rem;
}

.main-photo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.main-photo img {
    max-width: 100%;
    max-height: 40vh;
    height: auto;
}

.photo-board-container {
    width: 100%;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 19rem);
    overflow-y: auto;
}

.loading-indicator {
    margin: 1.25rem 0;
}
