.app-container {
    background-image: url("./assets/background.jpg");
    background-size: cover; /* Dopasowuje obrazek tak, aby wypełniał całe tło */
    background-position: center; /* Wyśrodkowuje obrazek */
    background-repeat: no-repeat; /* Zapobiega powtarzaniu obrazka */
    width: 100vw; /* Szerokość będzie równa szerokości okna przeglądarki */
    height: 100vh; /* Wysokość będzie równa wysokości okna przeglądarki */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(157, 97, 203);
}

header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.main-photo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.main-photo img {
    max-width: 100%;
    max-height: 50vh; /* Ustawia maksymalną wysokość obrazka na 50% wysokości widoku */
    height: auto;
}

.photo-board-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(
        100vh - 300px
    ); /* Adjust based on header and main photo height */
    overflow-y: auto;
}

.loading-indicator {
    margin: 20px 0;
}
