.App {
    text-align: center;
}

header {
    margin: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
select,
button {
    margin: 5px;
    padding: 10px;
}

.main-photo img {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

.photo-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-thumbnails img {
    margin: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.photo-thumbnails img.selected {
    transform: scale(1.1);
    border: 2px solid #000;
}
